/* .container,.container-fluid {
  border:1px solid;
}
.container * {
  border:1px solid; */

.header-image{
  background-image: url(../img/header-bg-image.jpg);
  /* background-size: cover; */
  height: 770px;
  background-size: cover;

}
.navbar-flex{
  display: flex;
  margin-top:-725px;
}
.logo-name{
  flex:1;
  color:white;
  font-size: 36px;
  margin-top:-15px;
}
.navbar-info{
  flex:1;
}
.navbar-info ul{
  list-style-type: none;
  
}
.navbar-info li{
display: inline;
padding: 10px;
}
.navbar-info a{
 text-decoration: none; 
 color:white;
}
.navbar-info a:hover{
  color: lightgray;
}
.title{
  margin-top: 220px;
  margin-left:300px;
}
.title h1{
  font-size: 50px;
  color:white;
}
.title h3{
  font-size: 20px;
  color:#ffffff;
  margin-left:80px;
  padding-top:10px; 
  padding-bottom: 35px;
}
 .title button{
  background: transparent;
  color:#ffffff;
  border-color:white;
  padding: 5px 20px;
  margin-left: 210px;
}
.title button a{
  text-decoration: none;
  color:#ffffff;
}
.title button a:hover{
  color:rgb(168, 25, 25);
}
